@import "tailwindcss";
@theme {
  --color-primary: #005f5a;
  --color-teal-brand: #0c5d56;
  --color-teal-accent: #0d9488;

  --color-background: #f8fafc;
  --color-muted-bg: #d5d5d5;

  --color-copy-heading: #000000;
  --color-copy-muted: #52525b;
  --color-logo: #0c0e0d;

  --color-warning: #ea580c;
}
@layer base {
  ::selection {
    @apply bg-primary text-white;
  }
  body {
    @apply bg-background text-copy-muted antialiased;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-copy-heading font-bold;
  }
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-muted-bg/30;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-copy-muted/40 rounded-full transition-colors;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-primary;
  }
}
